
  .cat_information {
    display: grid;
    justify-content: center;
    font-family: 'com', cursive;
    color: #af4ca7;
      }

  .image-container {
    width: 100%; /* Change this to your desired width */
    height: 100%; /* Change this to your desired height */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the child element horizontally */
    align-items: center; /* Center the child element vertically */
    margin: 0 auto; /* Center the element horizontally within its parent container */
  }
  
  .img {
    max-width: 100%; /* Limit the width of the image to its container */
    max-height: 100%; /* Limit the height of the image to its container */
    object-fit: contain; /* Fit the image within its container without distorting its aspect ratio */
  }
  
  .cat_information
  {
    display: grid;
    justify-content: left;
    margin-bottom: 10px;
  }

  #new_cat_button {
    background-color: #af4ca7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    
  }

  #h1 {
    font-family: 'com', cursive;
    color: #af4ca7;
    font-size: 60px;
    margin-bottom: 10px;
  }

  body {background-color: #FFFFFF;}
  
