body {
    font-family: Arial, sans-serif;
    background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button {
    margin-bottom: 10px;
  }
  
  ol {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  